@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0%;
  margin: 0%;
}


html,body{
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: #222222;
  color: white;

}


.bg-box-img{

  background: linear-gradient(120deg, #142850, #14305a, #143a64, #14456e, #135279, #126184, #10728f, #0e849a, #0c99a6, #0ab1b3, #07bfb4, #04ccb1);
}